[Unit]
Description=Start thepoker GitOps engine

[Service]
Type=oneshot
User=pi
EnvironmentFile=/etc/environment
WorkingDirectory={{path-placeholder}}
ExecStart=/usr/bin/make -C {{path-placeholder}} run

[Install]
WantedBy=multi-user.target