[Unit]
Description=Start thepoker GitObs engine

[Service]
Type=oneshot
User=pi
ExecStart=make --directory={{path-placeholder}} run

[Install]
WantedBy=multi-user.target