[Unit]
Description=Start thepoker GitObs engine

[Service]
Type=oneshot
User=pi
ExecStart=(cd {{path-placeholder}} && make run)

[Install]
WantedBy=multi-user.target